*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
nav.navbar{
    background-color: black !important;
}
.practicalsCon{
    height: 78vh;
    width: 65vw;
    font-size: 24px;
    position: absolute;
    left:50%;
    transform: translate(-50%);
}
.practicalsCon .practical{
    padding-left: 5px;
    height: 22%;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.practicalsCon .practical:not(.noborder){
    border-top: 1px solid black;
}
.flex{
    display: flex;
    align-items: center;
}
.practicalsCon .practical .para{
    height: 25px;
    text-decoration: none;
    color: black;
    transition: all 0.15s ease-in;
}
.practicalsCon .practical .para:hover{
    color: hsl(252, 70%, 49%);
    text-decoration: underline;
}
.img-div{
    min-height: 100%;
    position: relative;
    width: 60%;
}
img{
    object-fit: contain;
    position: absolute;
    right: 0;
    mix-blend-mode: multiply;
}
img.mp{
    top:5px;
}
img.elt{
    bottom:5px;
}
a.navbar-brand{
    width: 100px !important;
    height: 40px !important;
    position: relative !important;
    z-index: 10 !important;
}
a.navbar-brand img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.nav-item i{
    font-size: 20px !important;
}
.java{
    height: 100%;
    width: 50%;
}
.net, .elt{
    height: 100%;
    width: 40%;
}
.mp{
    right: 25px;
    height: 110%;
    width: 33%;
}
.rdbms{
    right: 30px;
    height: 80%;
    width: 37%;
}
p.guide, p.cr{
    font-size: 15px;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 0;
}
p.cr{
    font-size: 18px;
}
.adjust{
    margin-bottom: 15px;
}
@media only screen and (max-width: 982px) {
    .practicalsCon{
        width: 90vw;
        margin: 0;
    }
    ul{
        flex-direction: row !important;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media only screen and (max-width: 600px) {
    .img-div{
        height: 70%;
        width: 60%;
    }
    .d-flex{
        display: flex !important;
        justify-content: center !important;
    }
    img{
        right: 0;
        object-fit: contain;
    }
    a.para{
        font-size: 16px;
    }
    p.guide{
        margin-top: 15px;
        font-size: 11px;
    }
    p.cr{
        font-size: 13px;
    }
}
  @media screen and (max-width:1000px) {
    .collapse:not(.show) {
          display: block !important;
    }
    .navbar{
      padding-top: 5% ;
    }
    .container-fluid .navbar-brand{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.7;
      /* text-decoration: underline; */
      border-bottom: 1px solid white;
    }
  }
